<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Tavern | Cashier Panel</title>
    <link th:href="@{/assets/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/fontawesome/css/solid.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/fontawesome/css/brands.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/master.css}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
<div class="wrapper">
        <!-- sidebar navigation component -->
                <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a th:href="@{/employee/dashboard}"><i class="fas fa-home"></i>Dashboard</a>
                </li>
				<li>
                    <a th:href="@{/employee/cashier-panel}"><i class="fas fa-home"></i>Cashier Panel</a>
                </li>
                <div class="dropdown-divider"></div>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i>Admin</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a th:href="@{/admin/employees}"><i class="fas fa-lock"></i> Employee Management</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_EMPLOYEE')">
                    <a href="#pagesmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i> Employee</a>
                    <ul class="collapse list-unstyled" id="pagesmenu">
                        <li>
                            <a th:href="@{/employee/inventory-management}"><i class="fas fa-file"></i> Inventory Management</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span sec:authentication="name"/> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                        <div class="dropdown-divider"></div>
										<form id="logout-form" th:action="@{/logout}" method="POST">
   											<li><a href="javascript:;" onclick="document.getElementById('logout-form').submit();" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
   										</form>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>The Tavern</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">Transaction form</div>
                                <div class="card-body">
                                    <h5 class="card-title">Transaction Input Panel</h5>
                                    <form class="needs-validation" novalidate accept-charset="utf-8" th:action="@{/employee/inventory-management/save-transaction/}"
                                                                                                    th:object="${transaction}" method="POST">
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-6">
                                                <label for="customer-name" class="form-label">Customer name</label>
                                                <input type="text" class="form-control" name="customer-name" placeholder="Customer name" required>
                                                <small class="form-text text-muted">Who are we serving today? =)</small>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please enter your email address.</div>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-6">
                                                <label for="menu" class="form-label">Menu</label>
                                                <script>
	                                                var table = document.getElementById("myTable");
	                                                var row = table.insertRow(0);
                                                </script>
                                                <select name="selectedMenu" class="form-select" searchable="Add menu.." required>
                                                    <option th:each="theAvailableMenu : ${availableMenus}" th:text="${theAvailableMenu.name}"></option>
                                                </select>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please select a State.</div>
                                            </div>
                                            <div class="mb-3 col-md-2">
                                                <label for="total-price" class="form-label">Total Price</label>
                                                <input type="text" class="form-control" name="total-price" th:placeholder="${totalPrice}" disabled required>
                                                <div class="valid-feedback">Total price in Rp.</div>
                                            </div>
                                            <div class="box box-primary">
						                        <div class="box-body">
						                            <table width="100%" class="table table-hover" id="dataTables-example">
						                                <thead>
						                                    <tr>
						                                        <th>ID</th>
						                                        <th>Menu</th>
						                                        <th>Description</th>
						                                        <th>Image URL</th>
						                                        <th>Price</th>
						                                        <th>Availability</th>
						                                        <th></th>
						                                    </tr>
						                                </thead>
						                                <tbody>
						                                	<tr th:each="theSelectedMenu : ${selectedMenus}">
						                                		<td th:value="${theSelectedMenu.id}" th:text="${theSelectedMenu.id}" />
						                                		<td th:text="${theSelectedMenu.name}" />
						                                		<td th:text="${theSelectedMenu.description}" />
						                                		<td th:text="${theSelectedMenu.image}" />
						                                		<td th:text="${theSelectedMenu.price}" />
						                                		<td th:text="${theSelectedMenu.available}" />
						                            			<td class="text-end">
						                                            <a th:href="@{/employee/inventory-management/delete-menu(id=${theSelectedMenu.id})}" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
						                                        </td>
						                                	</tr>
						                                </tbody>
						                            </table>
						                        </div>
						                    </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="check1" required>
                                              <label class="form-check-label" for="check1">
                                                Check me out
                                              </label>
                                              <div class="invalid-feedback">You must agree before submitting.</div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/form-validator.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
</body>

</html>