<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Tavern | New Employee</title>
    <link th:href="@{/assets/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/fontawesome/css/solid.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/fontawesome/css/brands.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/master.css}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
                <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a th:href="@{/employee/dashboard}"><i class="fas fa-home"></i>Dashboard</a>
                </li>
				<li>
                    <a th:href="@{/employee/cashier-panel}"><i class="fas fa-home"></i>Cashier Panel</a>
                </li>
                <div class="dropdown-divider"></div>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i>Admin</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a th:href="@{/admin/employees}"><i class="fas fa-lock"></i> Employee Management</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_EMPLOYEE')">
                    <a href="#pagesmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i> Employee</a>
                    <ul class="collapse list-unstyled" id="pagesmenu">
                        <li>
                            <a th:href="@{/employee/inventory-management}"><i class="fas fa-file"></i> Inventory Management</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span sec:authentication="name" /> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                        <div class="dropdown-divider"></div>
										<form id="logout-form" th:action="@{/logout}" method="POST">
   											<li><a href="javascript:;" onclick="document.getElementById('logout-form').submit();" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
   										</form>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Forms</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                            
                                <div class="card-header">New Employee</div>
                                <div class="card-body">
                                    <h5 class="card-title">Register new employee.</h5>
                                    <form accept-charset="utf-8" action="#" th:action="@{/admin/employees/save}"
                                    										th:object="${employee}" method="POST">
                                        <div class="mb-3">
                                            <label for="text" class="form-label">Full name</label>
                                            <input type="text" th:field="*{name}" name="employee-name" placeholder="Full Name" class="form-control" required>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="dateofbirth" class="form-label">Date of Birth</label>
                                            <input type="date" th:field="*{dateOfBirth}" placeholder="MM/DD/YYY" name="date-of-birth" class="form-control" required>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="text" class="form-label">Biological Sex</label>
                                            <select id="biological-sex" th:field="*{sex}" name="biological-sex" class="form-control" required>
                                            	<option value="F" selected>Female</option>
                                            	<option value="M">Male</option>
                                            </select>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="text" class="form-label">Email</label>
                                            <input type="email" th:field="*{email}" name="email" placeholder="Email" class="form-control" required>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="text" class="form-label">Home Address</label>
                                            <input type="text" th:field="*{homeAddress}" name="home-address" placeholder="Home Address" class="form-control" required>
                                        </div>
                                        
										<div class="mb-3">
                                            <label for="text" class="form-label">Pay/hour (Rp.)</label>
                                            <input type="number" th:field="*{payHour}" name="pay-hour" placeholder="Rp." class="form-control" required>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="text" class="form-label">Role</label>
                                            <input type="text" th:field="*{role}" name="role" placeholder="Employee Role" class="form-control" required>
                                        </div>
                                        
										<div class="mb-3">
                                            <label for="text" class="form-label">Is Permanent Officer</label>
                                            <select id="permanent-officer" th:field="*{permanentOfficer}" name="permanent-officer" class="form-control" required>
                                            	<option value="0" selected>False</option>
                                            	<option value="1">True</option>
                                            </select>
                                        </div>
                                        
                                        
                                        <div class="mb-3">
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </form>
      
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/form-validator.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
</body>

</html>